html ,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Header(Navbar?*/

.nav--header{
  max-width: 100%;
  height: 50px;
  background: #FFF7ED;
  display: flex;
  align-items: center;
  padding: 40px;
}

header > a{
  text-decoration: none;
}

.nav--logo{
  font-style: normal;
  font-size: 35px;
  font-weight: 900;
  line-height: 40px;
  color: #000000;
  margin-right: auto;
}

.nav--links{
   padding-right: 30px;
}

.nav--links > a{
  text-decoration: none;
  padding: 0px 10px;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  color: #4D4D4D;
}

/*Footer*/

.home--footer{
  width: 100%;
  height: 50px;
  background-color: #252525;
  position: fixed;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--footer > p{
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

/* home component*/

.home--main{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(0,0,0,0.46), rgba(0,0,0,0.46)),url("./assets/images/image\ 53.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 70px 0px;
}